.startSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0.5rem 1.5rem;
  flex-wrap: wrap; /* ensures good behavior on smaller screens */
  height: 100vh;
}

.textContainer {
  flex: 1;
  min-width: 300px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-primarywhite);
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color-primarywhite);
}

.imageContainer {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
