/* About.module.css */
.snapContainer {
  height: 100vh;                /* full viewport height */
  overflow-y: scroll;           /* allow vertical scroll */
  overflow-x: hidden; 
  /* scroll-snap-type: y mandatory;  <-- REMOVE THIS */
  scroll-behavior: smooth;      /* smooth scrolling */
}

.snapSection {
   min-height: 90vh;  /* instead of fixed height */
  height: auto;
  display: flex;                /* optional, for centering content */
  align-items: center;
    flex-direction: column;

  justify-content: center;
}

.video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.backgroundVideo {
  position: fixed; /* behind all content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* behind everything */
}