.homePage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  /* no background here – let PixelBlast own it */
}

.homeContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* PixelBlast fills the entire page area */
.pixelBackground {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* My content sits ON TOP */
.homeWrapper {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  text-align: center;
  animation: fadeInRight 1s ease;
}

.title {
  margin-bottom: 1rem;
  color: var(
    --color-primarywhite
  ); /* light so it’s visible on dark background */
  padding: 0 120px;
}

h1 {
  font-size: 2.6rem;
  font-family: parabolica, sans-serif;
  font-weight: 700;

  line-height: 1.4;
}
.divide {
  color: var(--color-primarywhite);
  font-family: parabolica, sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 20px;
}

.titleTwo {
  margin-top: 2rem;
  padding-right: 20px;
  color: var(--color-primarywhite);
  width: 75%;
}

.highlight {
  color: var(--color-primarywhite);
  font-family: parabolica, sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
}

.highlight:hover {
  color: #b5ff7b;
  text-shadow: 0 0 8px #83c441;
  transition: all 0.3s ease;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.projectButton {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.6rem 1.3rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: parabolica, sans-serif;
  color: var(--primary-black);
  background-color: var(--color-primarywhite);
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-radius: 24px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.projectButton:hover {
  background-color: var(--color-secondaryhighlight);
  transform: translateY(-2px);
  color: var(--primary-black);
}
