.wrapper {
  width: 100%;
  min-height: 100vh; /* takes full screen height */
  display: flex;
  justify-content: center;
  align-items: center; /* centers vertically */
  padding: 2rem; /* remove giant 8rem gap */
  box-sizing: border-box;
}

.card {
  background: var(--color-primaryblack);
  color: var(--color-primarywhite);
  padding: 4rem 2.5rem;
  border-radius: 20px;
  max-width: 1100px;
  min-height: 50vh;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.95),
    rgba(10, 10, 10, 0.98)
  );
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.06);
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  animation: fadeUp 0.7s ease both;
}

.title {
  font-family: var(--font-primary);
  font-size: clamp(2.5rem, 6vw, 4rem);
  letter-spacing: -0.5px;

  font-weight: 700;
  margin-bottom: 1.3rem;
  color: var(--color-primarywhite);
}

.text {
  font-size: clamp(1.2rem, 1.8vw, 1.6rem);
  line-height: 1.8;
  max-width: 900px;
  margin: 0 auto;
  color: var(--color-primarywhite);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
