.intro {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-primarywhite);
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: var(--color-primarywhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left; /* make paragraphs left-aligned */
}

.description p {
  margin: 1rem 0; /* spacing between paragraphs */
}

.meta {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}

.meta h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  color: var(--color-secondarymuted);
  font-family: var(--font-primary);
}

.meta p {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bubbles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.bubble {
  display: inline-block;
  background: var(--color-primaryblack);
  border: 1px solid var(--color-secondarypurple);
  border-radius: 16px;
  padding: 0.3rem 0.9rem;
  font-size: 0.85rem;
  color: var(--color-secondarypurple);
  font-family: var(--font-primary);
  transition: background 0.3s ease, color 0.3s ease;
}

.bubble:hover {
  background: var(--color-primaryblack);
  color: var(--color-primarywhite);
}
