.introSection {
  height: 90vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.introContent {
  max-width: 800px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  margin-bottom: 2rem;
}

.photo {
  width: 250px;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.introContent p {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  color: #ddd;
  margin-bottom: 1.5rem;
}
