.photoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  overflow: hidden;
}

.photo {
  width: 100%;
  max-width: 1000px;
  height: auto;
  object-fit: contain;
  border-radius: 12px; /* optional for a softer look */
  max-height: 600px; /* keeps it from being too tall on large screens */
}
