.rowContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 4rem 1.5rem;
  flex-wrap: wrap; /* stacks on smaller screens */
}

.column {
  flex: 1 1 45%; /* takes roughly half the width, shrinks on smaller screens */
  min-width: 250px;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--color-primarywhite);
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color-primarywhite);
}
